{% extends 'master.html' %}
{% load static %}
{% block content %}
<br><br>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading" style="color: #1b18e0">Blog/Insights</h2>
            <h3 class="section-subheading text-muted">
                Stay informed with GW SYSTEMS' insights specifically curated for SMEs. Our blog covers practical tips, industry insights, and success stories aimed at helping small businesses navigate the digital landscape.
            </h3>
        </div>
         <br><br><br><br><br>
    </div>
</section>
{% endblock %}