{% extends 'master.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"> Welcome to GW SYSTEMS!</div>
        <p class="text-white">Your Gateway to Innovative, Cutting edge IT Solutions.<br>
            We specialize in crafting top-tier IT solutions uniquely designed for Corporates.<br>
            Schools. Churches,  Hospitals, Small and Medium Enterprises (SMEs).<br>
            Transforming Visions into Digital Realities, we empower SMEs to thrive in the digital landscape.
        </p>
        <a class="btn btn-info btn-xl text-dark" href="{% url 'services-url' %}" style="color: #1b18e0">Tell Me More</a>
    </div>
</header>

<!-- About-->
<section class="page-section" id="about" style="background-color: #c0c3e0">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-dark">About Us</h2>
            <h3 class="section-subheading"> At GW SYSTEMS</h3>
        </div>
        <p class="text-dark text-center">Our passion lies in propelling SMEs towards digital excellence. With a history deeply rooted in understanding the challenges faced by small businesses, we bring a personalized touch to every solution. Meet our team, driven by a commitment to see SMEs succeed through technology.</p>
    </div>
</section>
<!-- Team-->
<section class="page-section" id="team" style="background-color: #3235e0">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Our Amazing Team</h2>
            <h3 class="section-subheading"> GW SYSTEMS</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="#" alt="..." />
                    <h4>Jared</h4>
                    <p class="">Senior Manager</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="" alt="..." />
                    <h4>Brian</h4>
                    <p class="">cyber Security Engineer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="" alt="..." />
                    <h4>Jeff</h4>
                    <p class="">Senior Web Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients-->
<style>
    .img-brand {
        width: 150px; /* Adjust logo size */
        transition: transform 0.3s ease-in-out; /* Add transition effect */
    }

    .img-brand:hover {
        transform: scale(1.1); /* Scale up on hover */
    }

    /* Add padding and margin */
    .py-5 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .my-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* Center logos */
    .align-items-center {
        display: flex;
        align-items: center;
    }

    .col-md-3,
    .col-sm-6 {
        text-align: center;
    }
</style>

<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto microsoft-logo" src="../static/assets/img/logos/microsoft.svg" alt="Microsoft Logo" aria-label="Microsoft Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto google-logo" src="../static/assets/img/logos/google.svg" alt="Google Logo" aria-label="Google Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto facebook-logo" src="../static/assets/img/logos/facebook.svg" alt="Facebook Logo" aria-label="Facebook Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto ibm-logo" src="../static/assets/img/logos/ibm.svg" alt="IBM Logo" aria-label="IBM Logo" /></a>
            </div>
        </div>
    </div>
</div>

<!-- Contact-->
<section class="page-section bg-light" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-dark">Contact Us</h2>
            <h3 class="section-subheading text-muted text-white">Ready to take your SME to new heights? Connect with GW SYSTEMS today. Let's discuss how our affordable and effective solutions can elevate your business.
                .</h3>
        </div>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="#"></a>
                </div>
            </div>

            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-info btn-xl" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>
{% endblock %}
