{% extends 'master.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<br><br><br><br>

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading" style="color: #1b18e0">Partnerships and Certifications</h2>
            <h3 class="section-subheading text-muted">
                As advocates for small business success, GW SYSTEMS proudly holds key partnerships and certifications focused on providing SMEs with industry-leading solutions. Trust us to be your dedicated technology partner.
            </h3>
        </div>
         <br><br><br><br>
    </div>
</section>
{% endblock %}
