{% extends 'master.html' %}
{% load static %}
{% block content %}
<br><br>

<!-- Services-->
<style>
    .service-card {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        border: 2px solid rgb(128, 128, 128);
    }

    .service-card:hover {
        transform: translateY(-10px);
    }

    .service-card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgb(128, 128, 128);
        color: #000000;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .service-card:hover .service-card-overlay {
        opacity: 1;
    }

    .service-card-content {
        position: relative;
        z-index: 1;
        padding: 20px;
        text-align: center;
    }
    .service-icon {
        text-align: center;
        margin-top: 20px;
    }

    .service-icon i {
        color: #007bff; /* Change the color as needed */
    }

    .service-underline {
        width: 50px; /* Adjust the width of the underline */
        height: 3px;
        background-color: #007bff; /* Change the color as needed */
        /* Center the underline */
        margin: 10px auto 0;
    }

</style>
<section class="page-section bg-light" id="services">
    <br><br>
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading mb-4" style="color: #1b18e0">Services</h2>
        </div>
        <div class="row">
            <div class="col-md-4" >
                <div class="service-card" style="background-color: #433be0;">
                    <div class="service-card-overlay"></div>
                    <div class="service-card-content">
                        <h4 class="my-3">Web Development</h4>
                        <p class="text-white">Amplify your online presence with our bespoke web development services tailored for SMEs. From establishing a professional website to creating a user-friendly e-commerce platform, we make digital success accessible for small businesses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card" style="background-color: #417290;">
                    <div class="service-card-overlay"></div>
                    <div class="service-card-content">
                        <h4 class="my-3">ERP Systems</h4>
                        <p class="text-white">Streamline your operations cost-effectively with our customized Enterprise Resource Planning systems. Designed with SMEs in mind, our solutions optimize processes and enhance efficiency, ensuring you stay ahead in a competitive market.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card" style="background-color: #5bb273;">
                    <div class="service-card-overlay"></div>
                    <div class="service-card-content">
                        <h4 class="my-3">CRM Systems</h4>
                        <p class="text-white">Cultivate strong client relationships effortlessly. Our Customer Relationship Management systems are scaled to fit the needs of SMEs, providing intuitive tools for seamless interactions and customer retention.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="service-card" style="background-color: #572ee0">
                    <div class="service-card-overlay"></div>
                    <div class="service-card-content">
                        <h4 class="my-3">Other Services</h4>
                        <p class="text-white">Explore our range of specialized services crafted specifically for small businesses, including budget-friendly mobile app development, scalable cloud solutions, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}