{% extends 'master.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<!-- Masthead-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading" style="color: #1b18e0">Client Testimonials</h2>
            <h3 class="section-subheading text-muted">
                Hear from SMEs like yours. Learn how GW SYSTEMS has been a trusted partner, providing tailored solutions that catalyze growth for small businesses. Your success story could be next.
            </h3>
        </div>
         <br><br><br><br>
    </div>
</section>
{% endblock %}